@import "vars";

.process {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item {
    max-width: 254px;
    text-align: center;

    h3 {
      color: $lightDark;
      margin: 1.5rem 0;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 1050px) {
    &__items {
      justify-content: space-evenly;
    }

    &__item {
      margin: 2rem 0;
    }
  }
}
